<?if ($i == 0 or $i%20 == 0):?>
		<?if ($i == 0):?>
			<table cellpadding='5'>
			<tr>
			<td colspan='21'><h1>Сцена с артистами</h1></td>
			</tr>
		<?endif;?>
		<tr>
		<td>ряд <?=$row?></td>
		<?if ($sort == 'del'):?>
			<?if($b):?>
				<?=$paid?>
			<?else:?>
				<?=$noceel?>
			<?endif;?>
		<?else:?>
			<?=$ceel?>
		<?endif;?>
	<?else:?>
		<?if ($sort == 'del'):?> 
			<?if ($b):?>
				<?=$paid?>
			<?else:?>
				<?=$noceel?>
			<?endif;?>
		<?else:?>
			<?=$ceel?>
		<?endif;?>
		<?if (($i+1)%20 == 0):?>
			</tr>
			<?if ($i == 299):		
			# 299 - count place in event hall, counting from zero?>
				</table></form></div>
			<?endif;?>
		<?endif;?>
	<?endif;?>