<?if ($h1 == 'Подтверждение оплаты'):
	if ($request):?>
		<h3>Вы подтвердили <?=$count_pl?> мест(о):</h3></br>
	<?else :?>
		<h3>Места не подтверждены. Возможно вы промахнулись мимо чекбокса. 
		Не расстраивайтесь и попробуйте еще раз.</h3>
	<?endif;
elseif ($h1 == 'Покупка билета'):
	if ($count_pl > 0 & $count_pl <= 5):
		if ($request):?>
			<h3>Вы успешно забронировали <?=$count_pl?> мест(о). 
			На ваш e-mail отправлена ссылка для оплаты. Пожалуйста, не забудьте оплатить до <?=$time?></h3>
		<?endif;?>
	<?elseif ($count_pl > 5) :?>
		<h3>Места не забронированны. Все хотят послушать хороший концерт,
		поэтому выбирайте не более 5 мест</h3>
	<?else :?>
		<h3>Места не забронированны. Возможно вы промахнулись мимо чекбокса или кто-то был порасторопнее вас.</br> 
		Не расстраивайтесь и попробуйте еще раз</h3>
	<?endif;?>
<?endif;?>