h1 {
	text-align : center;
	font-family : "Comic Sans MS";
}
h2 {
	text-align : center;
	font-family : "Comic Sans MS";
}
h3 {
	text-align : center;
	font-family : "Comic Sans MS";
}
.p {
	text-indent: 100px;
	width: 600px;
	padding: 0px 100px 0px 100px
}
div{
	text-align : center;
}
table {
	width: auto; /* Ширина таблицы */
    border: 1px solid black; /* Рамка вокруг таблицы */
    margin: auto;
    border-collapse: collapse;
}

td {
    border: 2px solid lightgray;
}
img{
	margin: auto;
}
textarea {
	width: 4px;
	height: 4px;
}
.blat{
	background: yellow;
}
.mid{
	background: orange;
}
.bitch{
	background: green;
}
.rip{
	background: red;
}
.imgCenter{
	text-align :center;
	width: 600px; /* Ширина элемента в пикселах */
    padding: 20px 70px 10px 70px; /* Поля вокруг текста */
     /* Выравниваем по центру */
}
